* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --dark1: #121517;
    --dark2: #1B1E21;
    --dark3: #23272B;
    --dark4: #2F3439;
    --red: rgb(215, 56, 94);
    --blue: rgba(40, 189, 229, .7);
    --yellow: rgba(227, 214, 34, .7);
}

.play {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1000;
    display: block;
    transition: opacity .2s, height .4s, width .4s;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,.3));
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,.2));
}

.pause{
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1000;
    display: block;
    transition: opacity .2s, height .4s, width .4s;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,.3));
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,.2));
}

.content:hover .play {
    opacity: 0;
    height: 0;
    width: 0;
}

html {
    background-color: var(--dark1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;
    gap: .5rem;
    padding: .5rem;
}

.grid>* {
    background: var(--dark2);
    position: relative;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid>*:first-child {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

.ar-8-2 {
    grid-column: span 8;
    grid-row: span 2;
}

.ar-6-2 {
    grid-column: span 6;
    grid-row: span 2;
}

.ar-4-2 {
    grid-column: span 4;
    grid-row: span 2;
}

.ar-4-4 {
    grid-column: span 4;
    grid-row: span 4;
}

.ar-4-6 {
    grid-column: span 4;
    grid-row: span 6;
}

.ar-8-4 {
    grid-column: span 8;
    grid-row: span 4;
}

.ar-2-4 {
    grid-column: span 2;
    grid-row: span 4;
}

.ar-2-3 {
    grid-column: span 2;
    grid-row: span 3;
}

.ar-2-2 {
    grid-column: span 2;
    grid-row: span 2;
}

.ar-fit {
    padding: 0px;
}

.content-fit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}

.p-10 {
    padding: 10%;
}

.p-30 {
    padding-left: 30%;
    padding-right: 30%;
}

img, video, .w {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.object-fit-none {
    object-fit: unset;
    width: 100%;
}

@media(max-width: 1300px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .ar-4-2 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .ar-6-2 {
        grid-column: span 4;
        grid-row: span 2;
    }
    .ar-4-6 {
        grid-column: span 3;
        grid-row: span 4;
    }
    .ar-8-4 {
        grid-column: span 6;
        grid-row: span 3;
    }
    .ar-4-4 {
        grid-column: span 3;
        grid-row: span 3;
    }
    .ar-2-3 {
        grid-column: span 2;
        grid-row: span 3;
    }
    .cambio {
        grid-column: 5 /span 2;
        grid-row: 21 /span 3;
    }
    .cambio2 {
        grid-column: span 3;
        grid-row: span 4;
    }
    .cambio4 {
        grid-column: span 3;
        grid-row: span 4;
    }
    .cambio5 {
        grid-column: span 4;
        grid-row: span 3;
    }
    .cambio6 {
        grid-column: span 2;
        grid-row: span 3;
    }
    .p-30 {
        padding: 20%;
    }
}

@media(max-width: 800px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .ar-4-2 {
        grid-column: span 4;
        grid-row: span 2;
    }
    .ar-6-2 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .ar-8-4 {
        grid-column: span 4;
        grid-row: span 2;
    }
    .ar-4-6 {
        grid-column: span 4;
        grid-row: span 4;
    }
    .ar-4-4 {
        grid-column: span 4;
        grid-row: span 4;
    }
    .cambio4, .cambio5, .cambio6 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .cambio, .cambio2 {
        grid-column: span 2;
        grid-row: span 3;
    }
    .p-30 {
        padding: 15%;
    }
}

@media(max-width: 500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .ar-4-2, .ar-4-4, .ar-8-4, .ar-6-2, .ar-4-6 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .ar-4-6, .ar-2-3, .cambio4, .cambio6 {
        grid-column: span 2;
        grid-row: span 3;
    }
    .p-30 {
        padding: 20%;
    }
}